form {
    width:100%;
    text-align: center;
}

input, audio{
    width: 25em;
    margin: 2em 0;
}

#recorder {
    font-size: 1em;
    width: 20em;
}

#submit {
    border-radius: 3em;
    height: 5em;
}

p {
    font-size: 1.5em;
}

#record {
    background-color: red; /* Green */
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 100px;
    right: 100px;
    position: relative;
}
#stopRecord {
  background-color: green; /* Green */
  border-width: medium;
  border-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 50%;
  max-height: 15%;
  border-radius: 50%;
  left: 100px;
  right: 100px;
  position: relative;
}
h2 {
    left: 100px;
    position: relative;
}
#recordedAudio {
  left: 100px;
  right: 100px;
  position: relative;
}